@page
@using Hackathon.Models
@model Hackathon.Pages_Quizzes.EditModel

@{
    ViewData["Title"] = "Edit";
}
<br>
<h1>Grading Quiz</h1>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Completed_Quiz.ID" />
    <div class="container">
        <ul class="list-group list-group-flush">
            <li class="list-group-item h5">Applicant: @Model.Completed_Quiz.QuiztakerName</li>
            <li class="list-group-item h5">Quiz Taken: @Model.Completed_Quiz.CorrespondingQuizName</li>
            @if(@Model.Completed_Quiz.QuizType == QuizType.Graded)
            {
            <li class="list-group-item h5">Score: <span class="text-success">@Model.Completed_Quiz.pointsEarned/@Model.Completed_Quiz.maxPoints</span></li>
            }
            else
            {
            <li class="list-group-item h5">Max Points: @Model.Completed_Quiz.maxPoints</li>
            }
            <li class="list-group-item h5">Quiz Status: @Model.Completed_Quiz.QuizType</li>
        </ul>
    </div>
    @for(int i = 0; i < Model.Quiz.Questions.Count(); ++i)
    {
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>@(i+1) )</h4>
                </div>
                <div class="col-7">
                    <h5>@Model.Quiz.Questions.ElementAt(i).QuestionText</h5>
                    @if(@Model.Quiz.Questions.ElementAt(i).QuestionType == QuestionType.multiple_choice)
                    {
                        <br>
                        <h6 class="text-success">Correct Answer: @Model.Quiz.Questions.ElementAt(i).Correct_MCAnswer</h6>
                        <h6 class="text-secondary">Answer: @Model.Completed_Quiz.Answers.ElementAt(i).Answer_Text</h6>
                    }
                    else if(@Model.Quiz.Questions.ElementAt(i).QuestionType == QuestionType.short_answer)
                    {
                        <br>
                        <h6 class="text-secondary">Answer: @Model.Completed_Quiz.Answers.ElementAt(i).Answer_Text</h6>
                    }
                    else if(@Model.Quiz.Questions.ElementAt(i).QuestionType == QuestionType.video_response)
                    {
                        <br>
                        <div class="bg-dark" style="height: 300px; width: 80%;"></div>
                        <br>
                    }
                    @* either coding question or code correction  *@
                    else 
                    {
                        <br>
                        <textarea class="form-control" rows="5">@Model.Quiz.Questions.ElementAt(i).QuestionCode</textarea>
                        <br>
                        <h6 class="text-secondary">Answer: @Model.Completed_Quiz.Answers.ElementAt(i).Answer_Text</h6>
                    }
                    <br>
                    @if(@Model.Completed_Quiz.QuizType == QuizType.Pending)
                    {
                    <div class="form-group">
                        <label class="control-label">Points Awarded</label>
                        <input asp-for="@Model.AnswerScores[i]" class="form-control" />
                        <span asp-validation-for="@Model.AnswerScores[i]" class="text-danger"></span>
                    </div>
                    }
                </div>
                <div class="col"></div>
                <div class="col">
                    @if(@Model.Completed_Quiz.QuizType == QuizType.Graded)
                    {
                        <h6 class="text-muted">@Model.Completed_Quiz.Answers[i].pointsGraded/@Model.Quiz.Questions.ElementAt(i).NumPoints pts</h6>
                    }
                    else
                    {
                        <h6 class="text-muted">@Model.Quiz.Questions.ElementAt(i).NumPoints pts</h6>
                    }
                </div>
            </div>
        </div>
    }
    <hr />
    <br>
    @if(@Model.Completed_Quiz.QuizType == QuizType.Pending)
    {
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    }
    <br>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.QuiztakerName" class="control-label"></label>
        <input asp-for="Completed_Quiz.QuiztakerName" class="form-control" />
        <span asp-validation-for="Completed_Quiz.QuiztakerName" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.CorrespondingQuizName" class="control-label"></label>
        <input asp-for="Completed_Quiz.CorrespondingQuizName" class="form-control" />
        <span asp-validation-for="Completed_Quiz.CorrespondingQuizName" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.maxPoints" class="control-label"></label>
        <input asp-for="Completed_Quiz.maxPoints" class="form-control" />
        <span asp-validation-for="Completed_Quiz.maxPoints" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.pointsEarned" class="control-label"></label>
        <input asp-for="Completed_Quiz.pointsEarned" class="form-control" />
        <span asp-validation-for="Completed_Quiz.pointsEarned" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.QuizType" class="control-label"></label>
        <select asp-for="Completed_Quiz.QuizType" class="form-control"></select>
        <span asp-validation-for="Completed_Quiz.QuizType" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.Answers_JSON" class="control-label"></label>
        <input asp-for="Completed_Quiz.Answers_JSON" class="form-control" />
        <span asp-validation-for="Completed_Quiz.Answers_JSON" class="text-danger"></span>
    </div>
</form>

