@page
@using Hackathon.Models
@model Hackathon.Pages_Quizzes.TakeQuizModel

@{
    ViewData["Title"] = "TakeQuiz";
}
<br>
<h1>Taking Quiz - @Model.Quiz.Name</h1>
<hr />
<br>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Applicant</label>
        <select class="form-control" asp-for="Completed_Quiz.QuiztakerName">
            @foreach(string s in @Model.names)
            {
                <option value="@s">@s</option>
            }
        </select>
        <span asp-validation-for="Completed_Quiz.QuiztakerName" class="text-danger"></span>
    </div>
    <br>
    @for(int i = 0; i < Model.Quiz.Questions.Count(); ++i)
    {
        <hr />
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>@(i+1) )</h4>
                </div>
                <div class="col-7">
                    <h5>@Model.Quiz.Questions.ElementAt(i).QuestionText</h5>
                    @if(@Model.Quiz.Questions.ElementAt(i).QuestionType == QuestionType.multiple_choice)
                    {
                        <ul>
                        @foreach(string s in Model.Quiz.Questions.ElementAt(i).MCAnswers)
                        {
                            <li><p>@s</p></li>
                        }
                        </ul>
                        <div class="form-group">
                            <input asp-for="@Model.Answers[i]" class="form-control" />
                            <span asp-validation-for="@Model.Answers[i]" class="text-danger"></span>
                        </div>
                    }
                    else if(@Model.Quiz.Questions.ElementAt(i).QuestionType == QuestionType.short_answer)
                    {
                        <br>
                        <div class="form-group">
                            <textarea asp-for="@Model.Answers[i]" class="form-control" rows="2"></textarea>
                            <span asp-validation-for="@Model.Answers[i]" class="text-danger"></span>
                        </div>
                    }
                    else if(@Model.Quiz.Questions.ElementAt(i).QuestionType == QuestionType.video_response)
                    {
                        <br>
                        <div class="bg-dark" style="height: 300px; width: 80%;"></div>
                        <div class="form-group invisible">
                            <input asp-for="@Model.Answers[i]" class="form-control" />
                            <span asp-validation-for="@Model.Answers[i]" class="text-danger"></span>
                        </div>
                        <button class="btn btn-danger">&#8226;  Record</button>
                        <button class="btn btn-light">Delete</button>
                    }
                    @* either coding question or code correction *@
                    else 
                    {
                        <br>
                        <textarea class="form-control" rows="5">@Model.Quiz.Questions.ElementAt(i).QuestionCode</textarea>
                        <br>
                        <div class="form-group">
                            <input asp-for="@Model.Answers[i]" class="form-control" />
                            <span asp-validation-for="@Model.Answers[i]" class="text-danger"></span>
                        </div>
                    }
                </div>
                <div class="col"></div>
                <div class="col">
                    <h6 class="text-muted">@Model.Quiz.Questions.ElementAt(i).NumPoints pts</h6>
                </div>
            </div>
        </div>
    }
    <hr />
    <br>
    <div class="form-group">
        <input type="submit" value="Submit Quiz" class="btn btn-primary" />
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.CorrespondingQuizName" class="control-label"></label>
        <input asp-for="Completed_Quiz.CorrespondingQuizName" class="form-control" />
        <span asp-validation-for="Completed_Quiz.CorrespondingQuizName" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.maxPoints" class="control-label"></label>
        <input asp-for="Completed_Quiz.maxPoints" class="form-control" />
        <span asp-validation-for="Completed_Quiz.maxPoints" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.pointsEarned" class="control-label"></label>
        <input asp-for="Completed_Quiz.pointsEarned" class="form-control" />
        <span asp-validation-for="Completed_Quiz.pointsEarned" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.QuizType" class="control-label"></label>
        <select asp-for="Completed_Quiz.QuizType" class="form-control"></select>
        <span asp-validation-for="Completed_Quiz.QuizType" class="text-danger"></span>
    </div>
    <div class="form-group invisible">
        <label asp-for="Completed_Quiz.Answers_JSON" class="control-label"></label>
        <input asp-for="Completed_Quiz.Answers_JSON" class="form-control" />
        <span asp-validation-for="Completed_Quiz.Answers_JSON" class="text-danger"></span>
    </div>
</form>


