@page
@model Hackathon.Pages_Quizzes.TakeQuizModel

@{
    ViewData["Title"] = "TakeQuiz";
}

<h1>TakeQuiz</h1>

<h4>Completed_Quiz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Completed_Quiz.QuiztakerName" class="control-label"></label>
                <select class="form-control" asp-for="Completed_Quiz.QuiztakerName">
                    @foreach(string s in @Model.names)
                    {
                        <option value="@s">@s</option>
                    }
                </select>
                <span asp-validation-for="Completed_Quiz.QuiztakerName" class="text-danger"></span>
            </div>
            <div class="form-group invisible">
                <label asp-for="Completed_Quiz.CorrespondingQuizName" class="control-label"></label>
                <input asp-for="Completed_Quiz.CorrespondingQuizName" class="form-control" />
                <span asp-validation-for="Completed_Quiz.CorrespondingQuizName" class="text-danger"></span>
            </div>
            <div class="form-group invisible">
                <label asp-for="Completed_Quiz.maxPoints" class="control-label"></label>
                <input asp-for="Completed_Quiz.maxPoints" class="form-control" />
                <span asp-validation-for="Completed_Quiz.maxPoints" class="text-danger"></span>
            </div>
            <div class="form-group invisible">
                <label asp-for="Completed_Quiz.pointsEarned" class="control-label"></label>
                <input asp-for="Completed_Quiz.pointsEarned" class="form-control" />
                <span asp-validation-for="Completed_Quiz.pointsEarned" class="text-danger"></span>
            </div>
            <div class="form-group invisible">
                <label asp-for="Completed_Quiz.QuizType" class="control-label"></label>
                <select asp-for="Completed_Quiz.QuizType" class="form-control"></select>
                <span asp-validation-for="Completed_Quiz.QuizType" class="text-danger"></span>
            </div>
            <div class="form-group invisible">
                <label asp-for="Completed_Quiz.Answers_JSON" class="control-label"></label>
                <input asp-for="Completed_Quiz.Answers_JSON" class="form-control" />
                <span asp-validation-for="Completed_Quiz.Answers_JSON" class="text-danger"></span>
            </div>
            @for(int i = 0; i < Model.Quiz.Questions.Count(); ++i)
            {
                <h3>Number of Points: @Model.Quiz.Questions.ElementAt(i).NumPoints</h3>
                <h5>Question Text: @Model.Quiz.Questions.ElementAt(i).QuestionText</h5>
                <h5>Question Code: @Model.Quiz.Questions.ElementAt(i).QuestionCode</h5>
                @foreach(string s in Model.Quiz.Questions.ElementAt(i).MCAnswers)
                {
                    <h4>@s</h4>
                }

                <div class="form-group">
                    <label asp-for="@Model.Answers[i]" class="control-label"></label>
                    <input asp-for="@Model.Answers[i]" class="form-control" />
                    <span asp-validation-for="@Model.Answers[i]" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

