@page
@using Hackathon.Models
@model Hackathon.Pages_Questions.CreateModel

@{
    ViewData["Title"] = "Create";
}
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<br>
<h1>Create Question</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.Name" class="control-label"></label>
                <input asp-for="Question.Name" class="form-control"/>
                <span asp-validation-for="Question.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.NumPoints" class="control-label"></label>
                <input asp-for="Question.NumPoints" class="form-control" type="number" />
                <span asp-validation-for="Question.NumPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionType" class="control-label"></label>
                <select class="form-control" asp-for="Question.QuestionType"  
                    asp-items="@Model.QuestionTypes">
                </select>
                <span asp-validation-for="Question.QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionText" class="control-label"></label>
                <input asp-for="Question.QuestionText" class="form-control" />
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>
            @if(@Model.Question.QuestionType == QuestionType.multiple_choice)
            {
            <div id="MCAnswers" class="form-group">
                <label asp-for="@Model.MCAnswers" class="control-label"></label>
                <i class="fas fa-question my-tooltip float-right">
                    <span class="my-tooltiptext">Type answers for the Multiple Choice Question on each line</span>
                </i>
                <textarea asp-for="@Model.MCAnswers" class="form-control" rows="4"></textarea>
                <span asp-validation-for="@Model.MCAnswers" class="text-danger"></span>
            </div>
            <div id="CorrectMCAnswer" class="form-group">
                <label asp-for="Question.Correct_MCAnswer" class="control-label"></label>
                <input asp-for="Question.Correct_MCAnswer" class="form-control" />
                <span asp-validation-for="Question.Correct_MCAnswer" class="text-danger"></span>
            </div>
            }
            else if(@Model.Question.QuestionType == QuestionType.code_correction || @Model.Question.QuestionType == QuestionType.coding)
            {
            <div id="QuestionCode" class="form-group">
                <label asp-for="Question.QuestionCode" class="control-label"></label>
                <textarea asp-for="Question.QuestionCode" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Question.QuestionCode" class="text-danger"></span>
            </div>
            }
            <div class="form-group">
                <label asp-for="@Model.Tags" class="control-label"></label>
                <i class="fas fa-question my-tooltip float-right">
                    <span class="my-tooltiptext">Each Question must have at least two (2) Tags, separated by spaces</span>
                </i>
                <textarea asp-for="@Model.Tags" class="form-control" rows="4"></textarea>
                <span asp-validation-for="@Model.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">All Questions</a>
</div>

